<div class="todos">
  <form (submit) = "addTodo()">
    <input type="text"  name = "input" placeholder="Type todo ..." class = "todo-input" [(ngModel)] = "inputTodo">
    <input [disabled]="!inputTodo"  type="submit" value="Add Todo" class="submit">
  </form>
  {{ queryResult }}
  <div class="todo" *ngFor = "let todo of todos; let i = index;" class =" todo{{( todo.completed ? 'done' : '') }}">
    <div class="id">{{ i + 1 }}</div>
    <div class="content" (click) = "toggleDone(i)">{{ todo }}</div>
    <button class="delete" (click) = " openSweetAlert(i)">Remove</button>
  </div>
</div>
